@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: system-ui;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-repeat: repeat-x;
  background-size: cover;
  display: block;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  display: flex;
  background-color: #181b1d;
  flex-direction: column;
  justify-content: space-between;
}

.poke-container {
  margin: 0 auto;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 90%;
  flex-wrap: wrap;
  height: 90%;

  justify-content: center;
}
.poke-box {
  text-transform: capitalize;
  width: 250px;
  background-color: #fff;
  box-shadow: 3px 3px 7px;
  border-radius: 15px;
  padding: 40px;
  margin: 20px;
  display: flex;
  min-height: 400px;
  flex-direction: column;
  justify-content: space-between;
}
.single-pokemon {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  width: 100%;
  height: 100dvh;
  background-color: #262548;
}
.poke-header {
  padding: 20px;
}
.poke-header h1 {
  color: red;
}
.poke-img {
  width: 100px;
}

.poke-header h1 {
  color: #fff;
}
.poke-header {
  text-transform: capitalize;
}
.poke-box:hover {
  transform: scale(1.1);
  transition: all ease-out 0.2s;
}
.pokelist-stats h3 {
  letter-spacing: 0.1rem;
}
.poke-img {
  width: 200px;
}
.nav-logo {
  width: 50px;
  margin-right: auto;
  position: absolute;
  margin-left: 100px;
  left: 10px;
  top: 10px;
  margin-top: 25px;
}
.navbar-container {
  left: 0;
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  top: 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.footer {
  display: flex;
  padding: 1.2rem;
  background-color: #fff;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.spinner-gif {
  background-color: red;
  width: 100%;
  height: 50%;
}

.cancel-btn {
  padding: 20px 30px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
}
.cancel-btn {
  transform: scale(1.2);
}

.cancel-btn-link {
  text-decoration: none;
  color: inherit;
}

.stats {
  letter-spacing: 0.3rem;
  font-size: 30px;
  line-height: 2rem;
}
.stats h4 {
  margin: 10px;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.search-input {
  align-items: center;
  text-align: center;
  font: inherit;
  top: 50%;
}
.search-input h1 {
  font-size: 1.2rem;
}
.search-input input {
  top: 50%;
  margin-top: 10px;
  padding: 7px 16px;
  text-align: left;
  text-transform: capitalize;
}

.search-input input:focus {
  outline: none;
}
.btn {
  padding: 10px 20px;
  margin: 5px;
  outline: 0;
  border: none;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  height: 50px;
  margin: 50px 0px;
}
.btn-top {
  position: absolute;
  right: 50px;
  bottom: 200px;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  .single-pokemon {
    flex-direction: column;
    margin-top: 10px;
  }
  .stats {
    font-size: 0.6rem;
  }
  .single-poke-img {
    height: 10px;
    width: 10px;
  }
  .nav-logo {
    margin-left: 0;
  }
}
